html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
}

ul {
    margin: 0;
}

.form-group {
    font-size: 1.3rem;
    text-align: center;
    display: inline-block;
    padding: 0 4rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.input-group {
    font-size: 1.6rem;
    text-align: left;
}

.input {
    border: 0.1rem solid teal;
    border-radius: 0.2rem;
    margin-bottom: 1em;
    padding: 1rem;
    width: 45rem;
}

.btn {
    min-width: 100%;
    width: 100%;
    height: 4rem;
    background-color: greenyellow;
    font-weight: bold;
}

a[onclick] {
    text-decoration: blue underline;
    color: blue;
}

a[onclick]:hover {
    cursor: pointer;
}

login .login-component {
    background-color: orange;
    margin-top: 15%;
}

register .register-component {
    margin-top: 8%;
}

header .navbar {
    height: 72px;
    width: 100%;
    background-color: darkgray;
}

header .navbar ul {
    list-style-type: none;
    display: block;
}


header .navbar ul li {
    font-size: 2rem;
    float: right;
    margin-top: 15px;
}

header .navbar-brand {
    margin-top: 5px !important;
    float: left !important;
}

header .navbar ul li a {
    display: block;
    color: blueviolet;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

header .navbar-brand a {
    font-family: fantasy;
    font-size: 3.5rem;
    margin-left: 0;
}

header li a:hover {
    color: aqua !important;
}

a:hover {
    cursor: pointer;
}

a {
    text-decoration: blue underline;
    color: blue;
}

.catalogue {
    color: blueviolet;
    font-family: fantasy;
    font-size: 3.5rem;
}

products .product {
    border: 2px solid teal;
    margin-top: 10px;
    width: 300px;
    padding: 10px;
    text-align: left !important;
    display: inline-block;
    margin: 10px;
}

products .product label {
    font-size: 15px;
}

products .product button {
    background-color: lightblue;
    padding: 5px 8px;
    margin-left: 170px;
    border-radius: 5px;
    display: inline-block;
}

products .img {
    text-align: center;
    height: 150px;
}

cart .product {
    width: 750px;
    height: 150px;
    margin: 20px;
    background: lightgrey;
    box-shadow: 1px 2px 3px 0px;
    border-radius: 6px;
    text-align: left;
}

cart .product label {
    padding-top: 17px;
    font-size: 16px;
    display: inline-block;
}

cart button {
    background-color: red;
    padding: 5px 8px;
    margin-right: 50px;
    border-radius: 5px;
    float: right;
}

cart .img {
    height: 12rem;
    margin: 14px;
    float: left;
}

cart .products-description {
    font-size: 16px;
    width: 402px;
    text-align: left;
}

cartempty div {
    width: 750px;
    height: 150px;
    margin: 25px auto;
    background: yellow;
    box-shadow: 1px 2px 3px 0px;
    border-radius: 6px;
    position: relative;
}

cartempty div p {
    font-size: 30px;
    font-family: fantasy;
    position: absolute;
    top: 25px;
    left: 222px;
}

totalprice .total-price {
    margin: 20px;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}